<div class="df">
<div class="container flex-justify-align-center">
  <div class="row df-panel rounded no-gutters">
    <div class="d-flex flex-column rounded-left df-left">
      <div class="flex-justify-align-center">
        <img src="./assets/img/logo.png" alt="1Campus">
        <span class="h4 p-2 mb-5" multi-lang-text="智慧校園整合服務"></span>
      </div>
      <div class="btn-group dropup justify-content-center">
        <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-globe"></i> 繁體中文
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="javascript: void(0);">繁體中文</a>
          <a class="dropdown-item" href="javascript: void(0);">简体中文</a>
          <a class="dropdown-item" href="javascript: void(0);">English</a>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column rounded-right df-right">
      <!-- 登入 -->
      <div id="tologin" class="df-right-content panel">
        <h2 multi-lang-text="登入大標"></h2>
        <p class="text-justify" multi-lang-text="登入子標"></p>
        <div class="nav nav-pills row text-center mx-0" id="list-tab" role="tablist">
          <li class="nav-item col-6 px-0">
            <a class="nav-link active" data-toggle="list" href="#tab-login" role="tab">使用 EMAIL 登入</a>
          </li>
          <li class="nav-item col-6 px-0">
            <a class="nav-link" data-toggle="list" href="#tab-qrcode" role="tab">使用 QR CODE 登入</a>
          </li>
        </div>
        <form class="tab-content mt-4">
          <div class="tab-pane active" id="tab-login" role="tabpanel">
            <!--錯誤提示：input class 加上 is-invalid-->
            <input id="login-acc" class="form-control my-4 focused" type="email" placeholder="電子郵件地址" multi-lang-text="帳號">
            <!-- <div class="invalid-feedback">
                            帳號不得為空
                        </div> -->
            <input id="login-pwd" class="form-control my-4" type="password" placeholder="密碼" multi-lang-text="密碼">
            <div class="d-flex justify-content-between">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" multi-lang-text="自動登入"></span>
              </label>
              <a href="#toiforgot" multi-lang-text="忘記密碼"></a>
            </div>
            <a href="temp_1campus.web.html" class="btn btn-green btn-lg btn-block sb-2 my-4" multi-lang-text="登入"></a>
            <div class="text-center" multi-lang-text="沒有帳號">
              <a href="#toregister" multi-lang-text="註冊"></a>
            </div>
          </div>
          <div class="tab-pane text-center" id="tab-qrcode" role="tabpanel">
            <img src="./assets/img/qrcode.png">
            <div class="text-center mt-4">
              請從「1Campus APP → 設定 → 掃描 QR Code」掃描上方圖示登入。
            </div>
          </div>
        </form>
      </div>

      <!-- 註冊 -->
      <div id="toregister" class="df-right-content panel hide">
        <h2 multi-lang-text="註冊大標"></h2>
        <p class="text-justify" multi-lang-text="註冊子標"></p>
        <form class="mt-4">
          <input class="form-control my-4 focused" type="email" placeholder="電子郵件地址" multi-lang-text="帳號">
          <input class="form-control my-4" type="text" placeholder="姓名" multi-lang-text="姓名">
          <input class="form-control my-4" type="password" placeholder="密碼" multi-lang-text="密碼">
          <a href="#toactivate" class="btn btn-green btn-lg btn-block sb-2 my-4" multi-lang-text="註冊送出"></a>
          <div class="text-center" multi-lang-text="服務條款1">
            <a href="http://www.ischool.com.tw/terms.html#service" target="_blank" multi-lang-text="服務條款2"></a>
          </div>
        </form>
      </div>

      <!-- 啟用 -->
      <div id="toactivate" class="df-right-content panel hide">
        <h2 multi-lang-text="啟用大標"></h2>
        <p class="text-justify" multi-lang-text="啟用子標"></p>
        <form class="mt-4">
          <input class="form-control my-4 focused" type="text" placeholder="輸入啟用碼" multi-lang-text="啟用碼">

          <p multi-lang-text="啟用說明1">
            <br>abcef@xxxxxx.xxxxx.xx</p>
          <p multi-lang-text="啟用說明2"></p>

          <button class="btn btn-green btn-lg btn-block sb-2 my-4" multi-lang-text="啟用送出" onclick="showModal('#tofinal')"></button>
          <div class="text-center" multi-lang-text="沒有啟用碼">
            <a href="#toregister" multi-lang-text="重新寄送啟用碼"></a>
          </div>

        </form>
      </div>

      <!-- 啟用成功 -->
      <div class="modal fade" id="tofinal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" multi-lang-text="啟用成功大標"></h5>
            </div>
            <div class="modal-body" multi-lang-text="啟用成功內容"></div>
            <div class="modal-footer">
              <a class="btn btn-white text-blue" href="#tologin" onclick="$('#tofinal').modal('hide')" multi-lang-text="返回"></a>
              <a class="btn btn-white text-blue" href="temp_1campus.web.html" onclick="$('#tofinal').modal('hide')" multi-lang-text="立即登入"></a>
            </div>
          </div>
        </div>
      </div>

      <!-- 忘記密碼 -->
      <div id="toiforgot" class="df-right-content panel hide">
        <h2 multi-lang-text="忘記密碼大標"></h2>
        <p class="text-justify" multi-lang-text="忘記密碼子標"></p>
        <form class="mt-4">
          <input class="form-control my-4 focused is-invalid" type="text" placeholder="電子郵件地址" multi-lang-text="帳號">
          <div class="invalid-feedback" multi-lang-text="帳號不存在"></div>
          <a class="btn btn-green btn-lg btn-block sb-2 my-4" multi-lang-text="傳送" href="#tomailrestpwd"></a>
        </form>
      </div>

      <!-- 重設密碼-安全驗證碼 -->
      <div id="tomailrestpwd" class="df-right-content panel hide">
        <h2 multi-lang-text="驗證碼大標"></h2>
        <p class="text-justify" multi-lang-text="驗證碼子標"></p>
        <form class="mt-4">
          <p>abcef@xxxxxx.xxxxx.xx</p>
          <input class="form-control my-4 focused is-invalid" type="text" placeholder="輸入安全驗證碼" multi-lang-text="驗證碼">
          <div class="invalid-feedback" multi-lang-text="重設失敗內容"></div>
          <a class="btn btn-green btn-lg btn-block sb-2 my-4" multi-lang-text="送出" href="#torestpwd"></a>
          <div class="text-center" multi-lang-text="沒有驗證碼">
            <a href="#tomailrestpwd" multi-lang-text="重新寄送驗證碼"></a>
          </div>
        </form>
      </div>

      <!-- 重設密碼 -->
      <div id="torestpwd" class="df-right-content panel hide">
        <h2 multi-lang-text="重設密碼大標"></h2>
        <p class="text-justify" multi-lang-text="重設密碼子標"></p>
        <form class="mt-4">
          <p>abcef@xxxxxx.xxxxx.xx</p>
          <input class="form-control my-4" type="password" placeholder="輸入新密碼" multi-lang-text="輸入新密碼">
          <input class="form-control my-4" type="password" placeholder="確認新密碼" multi-lang-text="確認新密碼">
          <a href="#torestpwdok" class="btn btn-green btn-lg btn-block sb-2 my-4" multi-lang-text="重設送出"></a>
        </form>
      </div>

      <!-- 重設完成 -->
      <div id="torestpwdok" class="df-right-content panel hide">
        <h2 multi-lang-text="重設完成大標"></h2>
        <p class="text-justify" multi-lang-text="重設完成子標"></p>
        <form class="mt-4">
          <input class="form-control my-4 focused" type="email" placeholder="電子郵件地址" multi-lang-text="帳號">
          <input class="form-control my-4" type="password" placeholder="密碼" multi-lang-text="密碼">
          <div class="d-flex justify-content-between">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description" multi-lang-text="自動登入"></span>
            </label>
            <a href="#toiforgot" multi-lang-text="忘記密碼"></a>
          </div>
          <a href="temp_1campus.web.html" class="btn btn-green btn-lg btn-block sb-2 my-4" multi-lang-text="登入"></a>
        </form>
      </div>

      <!-- 快速登入 -->
      <div class="ql p-3">
        <div class="px-2 pb-3">
          <span multi-lang-text="速登宣導1"></span>
          <a href="#tologin" multi-lang-text="速登宣導2"></a>
          <span multi-lang-text="速登宣導3"></span>
        </div>
        <div class="d-flex flex-wrap">
          <!-- <a href="javascript:void(0);" class="btn btn-google">
                            <i class="fa fa-3x fa-google"></i>
                            <span>Google</span>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-facebook">
                            <i class="fa fa-3x fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-microsoft">
                            <i class="fa fa-3x fa-windows"></i>
                            <span>Microsoft</span>
                        </a>
                        <a href="javascript:void(0);" class="btn btn-yahoo">
                            <i class="fa fa-3x fa-yahoo"></i>
                            <span>Yahoo</span>
                        </a> -->

          <button type="button" class="ql-button mr-sm-2 mb-2">
            <span class="ql-button-icon">
              <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg">
                <path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z"
                  id="Shape" fill="#EA4335" />
                <path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z"
                  id="Shape" fill="#FBBC05" />
                <path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z"
                  id="Shape" fill="#4285F4" />
                <path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z"
                  fill="#34A853" />
              </svg>
            </span>
            <span class="ql-button-text">Sign in with Google</span>
          </button>
          <button type="button" class="ql-button mb-2 mb-2">
            <span class="ql-button-icon">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455.73 455.73"
                style="enable-background:new 0 0 455.73 455.73;" xml:space="preserve">
                <path style="fill:#3A559F;" d="M0,0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893,35.582-79.475,79.475-79.475h62.025v64.622h-44.382c-13.947,0-25.254,11.307-25.254,25.254v49.953h68.521l-9.47,71.864h-59.051V455.73H455.73V0H0z"
                />
              </svg>
            </span>
            <span class="ql-button-text">Sign in with Facebook</span>
          </button>
          <button type="button" class="ql-button mr-sm-2 mb-2 mb-sm-0">
            <span class="ql-button-icon">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <polygon style="fill:#90C300;" points="242.526,40.421 512,0 512,239.832 242.526,239.832 " />
                <polygon style="fill:#F8672C;" points="0,75.453 206.596,44.912 206.596,242.526 0,242.526 " />
                <polygon style="fill:#FFC400;" points="242.526,471.579 512,512 512,278.456 242.526,278.456 " />
                <polygon style="fill:#00B4F2;" points="0,436.547 206.596,467.088 206.596,278.456 0,278.456 " />
              </svg>
            </span>
            <span class="ql-button-text">Sign in with Microsoft</span>
          </button>
          <button type="button" class="ql-button mb-2 mb-sm-0">
            <span class="ql-button-icon">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <path style="fill:#8F25A9;" d="M496.993,106.814l-58.262,19.421c-8.828,3.531-32.662,30.897-73.269,83.862c-43.255,54.731-66.207,90.041-69.738,107.697l-2.648,48.552l-0.883,30.897l5.297,74.152l76.8,1.766L363.697,512H134.179l4.414-34.428l36.193-1.766c18.538-1.766,30.014-6.179,33.545-11.476c2.648-3.531,3.531-27.366,3.531-68.855v-25.6l-0.883-51.2c-2.648-11.476-22.069-54.731-60.91-128.883c-39.724-76.8-65.324-121.821-77.683-137.71L0,37.076V0h243.641l-2.648,30.897l-75.917,11.476c23.834,54.731,60.028,131.531,108.579,227.752c63.559-75.917,97.103-125.352,97.986-146.538l-64.441-15.89l-3.531-37.076H512L496.993,106.814z"
                />
              </svg>
            </span>
            <span class="ql-button-text">Sign in with Yahoo</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>