<div class="wrapper">
  <div id="sidebar">
    <div class="d-flex flex-column">
      <div class="sidebar-header">
        <a class="navbar-brand" href="./temp_1campus.web.html">
          <img src="./assets/img/logo.png" alt="1Campus">1Campus</a>

        <div id="dismiss" class="d-1025-none">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="list-nav">
        <div class="scope">
          <a href="./temp_1campus.web.html">
            <i class="fa fa-chevron-left"></i>返回</a>
        </div>
        <div class="scope">
          <h3 class="subtitle">帳戶設定</h3>
          <a class="active" href="#toProfile">
            <i class="fa fa-user-circle"></i>個人資訊</a>
          <a href="#toPassword">
            <i class="fa fa-key"></i>變更密碼</a>
          <a href="#toChild">
            <i class="fa fa-fw fa-users"></i>子帳號</a>
        </div>
        <div class="scope">
          <h3 class="subtitle">其他設定</h3>
          <a href="#toLinkSchool">
            <i class="fa fa-link"></i>已連結學校</a>
          <a href="#toAuthorize">
            <i class="fa fa-sign-out"></i>授權管理</a>
        </div>
        <div class="scope d-sm-block d-md-none">
          <h3 class="subtitle">個人</h3>
          <a href="./temp_profile.html">
            <i class="fa fa-cog"></i>設定</a>
          <a href="./temp_domain.html">
            <i class="fa fa-server"></i>管理網域</a>
          <a href="#">
            <i class="fa fa-google"></i>同 Google 一併登出</a>
          <a href="#">
            <i class="fa fa-sign-out"></i>登出</a>
        </div>
      </div>
      <div class="official">
        <a href="https://ischool.zendesk.com/hc/zh-tw" target="_blank">
          <i class="fa fa-life-ring"></i>客戶服務網</a>
        <a href="http://www.ischool.com.tw/terms.html#service" target="_blank">
          <i class="fa fa-anchor"></i>服務條款</a>
        <a href="http://www.ischool.com.tw/terms.html#privacy" target="_blank">
          <i class="fa fa-lock"></i>隱私權政策</a>
        <a href="http://www.ischool.com.tw/terms.html#copyright" target="_blank">
          <i class="fa fa-copyright"></i>著作權政策</a>
      </div>
    </div>
  </div>
  <main id="content">
    <nav class="navbar navbar-light fixed-top">
      <button type="button" id="sidebarCollapse" class="navbar-toggler d-1025-none">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand navbar-centered d-flex justify-content-center" href="#">個人資訊</span>

      <div class="dropdown d-none d-md-block">
        <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          測試員，你好！
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="./temp_profile.html">
            <i class="fa fa-fw fa-cog"></i>設定</a>
          <a class="dropdown-item" href="./temp_domain.html">
            <i class="fa fa-fw fa-server"></i>管理網域</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <i class="fa fa-fw fa-google"></i>同 Google 一併登出</a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-fw fa-sign-out"></i>登出</a>
        </div>
      </div>
    </nav>

    <!-- 個人資訊 -->
    <div id="toProfile" class="set-content panel">
      <div class="form-row">
        <div class="col-md-4 col-lg-3 flex-justify-align-center">
          <div class="upload-img mb-3">
            <div class="flex-justify-align-center">
              <i class="material-icons text-muted mb-3">add_a_photo</i>
              <button class="btn btn-primary">點擊選擇圖片</button>
            </div>
          </div>

          <!-- 上傳圖片後換成這顯示，點圖可重新選圖片 -->
          <div class="upload-img uploaded mb-3">
            <div class="flex-justify-align-center">
              <img src="./assets/img/photo.png">
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-9">
          <div class="form-group">
            <label for="formEmail" class="col-form-label">Email</label>
            <input type="email" class="form-control" id="formEmail" placeholder="Email" value="abcd@ischool.com.tw" readonly>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 mb-3">
              <label for="formFirstName" class="col-form-label">姓</label>
              <input type="text" class="form-control" id="formFirstName" placeholder="First Name" value="Mark" required>
            </div>
            <div class="form-group col-md-6 mb-3" class="col-form-label">
              <label for="formLastName" class="col-form-label">名</label>
              <input type="text" class="form-control" id="formLastName" placeholder="Last Name" value="Otto" required>
            </div>
          </div>
          <div class="form-group">
            <label for="formLanguage" class="col-form-label">語系</label>
            <select class="form-control" id="formLanguage">
              <option>繁體中文</option>
              <option>简体中文</option>
              <option>English</option>
            </select>
          </div>
          <div class="text-center text-md-right pt-3">
            <button type="button" class="btn btn-light mr-3">取消</button>
            <button type="button" class="btn btn-green">儲存變更</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 登入密碼 -->
    <div id="toPassword" class="set-content panel hide">
      <div class="row">
        <div class="col-md-4 flex-justify-align-center d-none d-md-flex">
          <img src="./assets/img/img-password.png" class="mb-4">
          <p class="h5">建議使用與其他服務不同的強式密碼</p>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label class="col-form-label" for="formOldPassword">目前密碼</label>
            <input type="password" class="form-control" id="formOldPassword" placeholder="Old Password">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="formNewPassword">新密碼</label>
            <input type="password" class="form-control" id="formNewPassword" placeholder="New Password">
          </div>
          <div class="form-group">
            <label class="col-form-label" for="formConfirmNewPassword">確認新密碼</label>
            <input type="password" class="form-control" id="formConfirmNewPassword" placeholder="Confirm New Password">
          </div>
        </div>
      </div>
      <div class="text-center text-md-right pt-3">
        <button type="button" class="btn btn-light mr-3">取消</button>
        <button type="button" class="btn btn-green">儲存變更</button>
      </div>
    </div>

    <!-- 子帳號 -->
    <div id="toChild" class="set-content panel hide">
      <div class="d-flex flex-wrap">
        <div class="card add-child" data-toggle="modal" data-target="#addChild">
          <div class="card-body h4 flex-justify-align-center">
            <i class="material-icons mb-3">add</i> 建立子帳號
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>帳號：abcdef</p>
            <p>姓氏：王</p>
            <p>名字：鈺成</p>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-light mr-3">刪除</button>
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#editChild">編輯</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>帳號：</p>
            <p>姓氏：</p>
            <p>名字：</p>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-light mr-3">刪除</button>
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#editChild">編輯</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>帳號：</p>
            <p>姓氏：</p>
            <p>名字：</p>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-light mr-3">刪除</button>
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#editChild">編輯</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>帳號：</p>
            <p>姓氏：</p>
            <p>名字：</p>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-light mr-3">刪除</button>
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#editChild">編輯</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>帳號：</p>
            <p>姓氏：</p>
            <p>名字：</p>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-light mr-3">刪除</button>
            <button type="button" class="btn btn-green" data-toggle="modal" data-target="#editChild">編輯</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addChild" tabindex="-1" role="dialog" aria-labelledby="addChildLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addChildLabel">建立子帳號</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="formChildUserID" class="col-form-label">帳號</label>
              <input type="text" class="form-control" placeholder="User ID" id="formChildUserID">
              <small class="form-text text-muted text-right">@1campus.net</small>
            </div>
            <div class="form-group">
              <label for="formChildLastName" class="col-form-label">姓氏</label>
              <input type="text" class="form-control" id="formChildLastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="formChildFirstName" class="col-form-label">名字</label>
              <input type="text" class="form-control" id="formChildFirstName" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="formChildPassword" class="col-form-label">密碼</label>
              <input type="password" class="form-control" id="formChildPassword" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="formChildConfirmPassword" class="col-form-label">確認密碼</label>
              <input type="password" class="form-control" id="formChildConfirmPassword" placeholder="Confirm Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-info">建立</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editChild" tabindex="-1" role="dialog" aria-labelledby="editChildLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editChildLabel">編輯子帳號</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="formChildUserID" class="col-form-label">帳號</label>
              <input type="text" class="form-control" placeholder="User ID" id="formChildUserID1" value="abcdef" readonly>
              <small class="form-text text-muted text-right">@1campus.net</small>
            </div>
            <div class="form-group">
              <label for="formChildLastName" class="col-form-label">姓氏</label>
              <input type="text" class="form-control" id="formChildLastName1" placeholder="Last Name" value="王">
            </div>
            <div class="form-group">
              <label for="formChildFirstName" class="col-form-label">名字</label>
              <input type="text" class="form-control" id="formChildFirstName1" placeholder="First Name" value="鈺成">
            </div>
            <div class="form-group">
              <label for="formChildPassword" class="col-form-label">新密碼</label>
              <input type="password" class="form-control" id="formChildPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="formChildConfirmPassword" class="col-form-label">確認新密碼</label>
              <input type="password" class="form-control" id="formChildConfirmPassword1" placeholder="Confirm Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-info">儲存變更</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 連結學校 -->
    <div id="toLinkSchool" class="set-content panel hide">
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-light">
            <button type="button" class="close" data-toggle="modal" data-target=".school-link">
              <span aria-hidden="true">&times;</span>
            </button>
            澔學高中展示學校
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-light">
            <button type="button" class="close" data-toggle="modal" data-target=".school-link">
              <span aria-hidden="true">&times;</span>
            </button>
            澔學國中展示學校
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-light">
            <button type="button" class="close" data-toggle="modal" data-target=".school-link">
              <span aria-hidden="true">&times;</span>
            </button>
            dev.sh_d
          </div>
        </div>
        <div class="col-md-6">
          <div class="alert alert-light">
            <button type="button" class="close" data-toggle="modal" data-target=".school-link">
              <span aria-hidden="true">&times;</span>
            </button>
            台中市立大里高中
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade school-link" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">解除連結</h4>
          </div>
          <div class="modal-body">
            確定要將已連結的學校解除嗎？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-info">確定解除</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 授權管理 -->
    <div id="toAuthorize" class="set-content panel hide">
      <ul class="list-group mb-3">
        <li class="list-group-item list-group-item-success font-weight-bold d-flex align-items-center">
          澔學高中
          <button type="button" class="close ml-auto" data-toggle="modal" data-target=".authorized">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
        <li class="list-group-item">你的基本資料</li>
        <li class="list-group-item">你的個人檔案資料：生日、地點、網站和工作經歷</li>
        <li class="list-group-item">朋友個人檔案資料：生日、地點、網站和工作經歷</li>
        <li class="list-group-item">存取你在動態消息的貼文</li>
        <li class="list-group-item">在你離線時允許使用你的資料權限</li>
      </ul>
      <ul class="list-group mb-3">
        <li class="list-group-item list-group-item-success font-weight-bold d-flex align-items-center">
          澔學國中
          <button type="button" class="close ml-auto" data-toggle="modal" data-target=".authorized">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
        <li class="list-group-item">你的基本資料</li>
        <li class="list-group-item">你的個人檔案資料：生日、地點、網站和工作經歷</li>
        <li class="list-group-item">朋友個人檔案資料：生日、地點、網站和工作經歷</li>
        <li class="list-group-item">存取你在動態消息的貼文</li>
        <li class="list-group-item">在你離線時允許使用你的資料權限</li>
      </ul>
    </div>

    <div class="modal fade authorized" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">解除授權</h4>
          </div>
          <div class="modal-body">
            確定要解除授權嗎？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-info">確定解除</button>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

<div class="overlay">
  <div>
