html, body, .container {
  height: 100%;
}

div.df {
  background-image: url("../img/bg_login.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.df-panel {
	width: 100%;
	height: fit-content;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

.df-panel > div {
	background: #FFF;
	min-height: 670px;
}

.df-panel > div div:first-child {
	flex: 1;
}

.df-panel > div:first-child span {
	margin-top: .5rem;
	border-top: 1px solid rgba(0,0,0,.12);
	border-bottom: 1px solid rgba(0,0,0,.12);
}

.df-left {
	flex: 4;
}

.df-left .btn-group {
	box-shadow: none;
}

.df-right {
	flex: 6;
	background: #F9F4F3 !important;
}

.df-right-content {
	flex: 1;
	padding: 40px 24px;
}

.df-right-content h2 {
	color: #5B483A;
}

.df-right-content p {
}

.sb-2 {
	box-shadow: 0 2px 2px rgba(0,0,0,.24);
}

#toactivate form p, #tomailrestpwd form p, #torestpwd form p {
	font-size: .87rem;
	color: #5B483A;
}

.nav-pills .nav-link {
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.nav-pills .nav-link.active {
	color: #869923;
	border: 1px solid rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.12);
}


/* ---------------------------------------------------
    快速登入（.ql
----------------------------------------------------- */

.ql {
	background: rgba(0,0,0,.05);
}

/*.ql > span {
	display: -webkit-inline-box;
	display: inline-block;
	padding: 8px 0 16px 0;
}

.ql .btn {
	flex: 1;
	margin: 0 8px;
	padding-top: 16px;
    font-size: 0.9rem;
	font-weight: lighter;
	border-radius: 2px;
}

.ql .btn span {
	display: block;
	padding: 8px 0;
}*/

.ql-button {
	height: 40px;
	width: 49%;
    text-align: left;
	border-width: 0;
	background: white;
	color: #737373;
	border-radius: 5px;
	white-space: nowrap;
	-webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
	      box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
	-webkit-transition-property: background-color, -webkit-box-shadow;
	transition-property: background-color, -webkit-box-shadow;
	transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow, -webkit-box-shadow;
	-webkit-transition-duration: 150ms;
	      transition-duration: 150ms;
	-webkit-transition-timing-function: ease-in-out;
	      transition-timing-function: ease-in-out;
	padding: 0;
}
.ql-button:focus, .ql-button:hover {
	-webkit-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
	      box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.ql-button:active {
	background-color: #e5e5e5;
	-webkit-box-shadow: none;
	      box-shadow: none;
	-webkit-transition-duration: 10ms;
	      transition-duration: 10ms;
}

.ql-button-icon {
	display: inline-block;
	vertical-align: middle;
	margin: 8px 0 8px 8px;
	width: 18px;
	height: 18px;
	-webkit-box-sizing: border-box;
	      box-sizing: border-box;
}

.ql-button-text {
	display: inline-block;
	vertical-align: middle;
	padding: 0 24px;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Roboto',arial,sans-serif;
}


@media (min-width: 1200px) {
	.df .container {
	    max-width: 960px;
	}
}

@media (max-width: 768px) {
	.df-left {
		display: none !important;
	}
}

@media (min-width: 600px) {
	.container {
	    max-width: 769px;
	}
}

@media (max-width: 599px) {
	html, body, .container {
		height: fit-content;
	    padding: 0;
	}

	.df-panel > div {
		width: 100%;
	}

	.df-left, .df-right {
		flex: none;
	}

	.ql {
		padding: 40px 24px !important;
	}

	.ql-button {
		width: 100%;
	}

	/*.ql > div {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.ql .d-flex {
		display: inline-block !important;
	}

	.ql .btn {
		display: inline-flex;
		align-items: center;
		width: 100%;
		margin: 4px auto;
		padding: 0.65rem 1rem;
		text-align: left;
	}

	.ql .btn span {
		display: inline;
		font-weight: bold;
		padding: 0;
	}

	.ql .btn span:before {
		content: 'Sign in with ';
		font-weight: normal;
	}

	.ql .btn i {
		font-size: 1.4rem;
		width: 24px;
		margin-right: 1rem;
		text-align: center;
	}*/
}