﻿/*通用*/
[lang=zh-TW] [multi-lang-text=智慧校園整合服務]:before {
    content: "智慧校園整合服務";
}

[lang=zh-TW] [multi-lang-text=帳號]:before {
    content: "電子郵件地址";
}

[lang=zh-TW] [multi-lang-text=密碼]:before {
    content: "密碼";
}

[lang=zh-TW] [multi-lang-text=速登宣導1]:before {
    content: "除了";
}

[lang=zh-TW] [multi-lang-text=速登宣導2]:before {
    content: "使用 Email 登入";
}

[lang=zh-TW] [multi-lang-text=速登宣導3]:before {
    content: "，也可以點選以下帳號快速登入唷！";
}

/*登入*/
[lang=zh-TW] [multi-lang-text=登入大標]:before {
    content: "歡迎使用";
}

[lang=zh-TW] [multi-lang-text=登入子標]:before {
    content: "您現在將要使用的是「最適合未來校園並結合多樣貌的整合服務 - 1Campus 」，請立即登入取得絕佳體驗！";
}

[lang=zh-TW] [multi-lang-text=自動登入]:before {
    content: "自動登入";
}

[lang=zh-TW] [multi-lang-text=忘記密碼]:before {
    content: "忘記密碼？";
}

[lang=zh-TW] [multi-lang-text=登入]:before {
    content: "登入";
}

[lang=zh-TW] [multi-lang-text=沒有帳號]:before {
    content: "還沒有帳號嗎？";
}

[lang=zh-TW] [multi-lang-text=註冊]:before {
    content: "註冊";
}

/*註冊*/
[lang=zh-TW] [multi-lang-text=註冊大標]:before {
    content: "註冊帳號";
}

[lang=zh-TW] [multi-lang-text=註冊子標]:before {
    content: "親師生交流路上的貼身管家。只要一個免費帳號，即可拉近所有可能的距離。";
}

[lang=zh-TW] [multi-lang-text=姓名]:before {
    content: "姓名";
}

[lang=zh-TW] [multi-lang-text=註冊送出]:before {
    content: "建立帳號";
}

[lang=zh-TW] [multi-lang-text=服務條款1]:before {
    content: "當您點擊建立帳號，即表示您同意我們的";
}

[lang=zh-TW] [multi-lang-text=服務條款2]:before {
    content: "服務條款";
}

/*啟用*/
[lang=zh-TW] [multi-lang-text=啟用大標]:before {
    content: "啟用帳號";
}

[lang=zh-TW] [multi-lang-text=啟用子標]:before {
    content: "恭喜您離親師生交流更進一步。只要完成這個步驟，就可以開始享用所有服務。";
}

[lang=zh-TW] [multi-lang-text=啟用碼]:before {
    content: "輸入啟用碼";
}

[lang=zh-TW] [multi-lang-text=啟用送出]:before {
    content: "正式啟用";
}

[lang=zh-TW] [multi-lang-text=啟用說明1]:before {
    content: "我們已將『帳號啟用通知函』寄到您的信箱：";
}

[lang=zh-TW] [multi-lang-text=啟用說明2]:before {
    content: "請您到該信箱裡，開啟標題為『 1Campus 帳號啟用通知函 』的電子郵件，並依照信中指示，點選啟用帳號連結或上方輸入啟用碼，即可完成啟用帳號動作。";
}

[lang=zh-TW] [multi-lang-text=沒有啟用碼]:before {
    content: "沒有收到啟用碼？";
}

[lang=zh-TW] [multi-lang-text=重新寄送啟用碼]:before {
    content: "重新寄送啟用通知函";
}

[lang=zh-TW] [multi-lang-text=啟用失敗內容]:before {
    content: "無效的啟動碼";
}

/*啟用成功*/
[lang=zh-TW] [multi-lang-text=啟用成功大標]:before {
    content: "帳號啟用成功";
}

[lang=zh-TW] [multi-lang-text=啟用成功內容]:before {
    content: "恭喜您完成註冊程序，系統將自動登入，若無法自動登入，請按「立即登入」。";
}

[lang=zh-TW] [multi-lang-text=返回]:before {
    content: "返回";
}

[lang=zh-TW] [multi-lang-text=立即登入]:before {
    content: "立即登入";
}

/*忘記密碼*/
[lang=zh-TW] [multi-lang-text=忘記密碼大標]:before {
    content: "帳戶救援";
}

[lang=zh-TW] [multi-lang-text=忘記密碼子標]:before {
    content: "請輸入您印象中的 1Campus 帳戶使用者名稱或電子郵件地址，我們會將安全驗證碼與連結到您的電子郵件地址。";
}

[lang=zh-TW] [multi-lang-text=傳送]:before {
    content: "傳送";
}

[lang=zh-TW] [multi-lang-text=帳號不存在]:before {
    content: "帳號不存在";
}

/*重設密碼-安全驗證碼*/
[lang=zh-TW] [multi-lang-text=驗證碼大標]:before {
    content: "帳戶救援";
}

[lang=zh-TW] [multi-lang-text=驗證碼子標]:before {
    content: "內含安全驗證碼的電子郵件已傳送，請查看您的信箱中是否有包含代碼的信件。您可以直接輸入信件中的安全驗證碼，或者開啟信件中的連結進入重設密碼。";
}

[lang=zh-TW] [multi-lang-text=驗證碼]:before {
    content: "輸入安全驗證碼";
}

[lang=zh-TW] [multi-lang-text=送出]:before {
    content: "送出";
}

[lang=zh-TW] [multi-lang-text=沒有驗證碼]:before {
    content: "沒有收到安全驗證碼？";
}

[lang=zh-TW] [multi-lang-text=重新寄送驗證碼]:before {
    content: "重新寄送";
}

[lang=zh-TW] [multi-lang-text=重設失敗內容]:before {
    content: "安全驗證碼已經失效，請確認您使用的是最新寄發的安全驗證碼。";
}

/*重設密碼*/
[lang=zh-TW] [multi-lang-text=重設密碼大標]:before {
    content: "重設密碼";
}

[lang=zh-TW] [multi-lang-text=重設密碼子標]:before {
    content: "請設定一個安全強度高的新密碼，並妥善保存。";
}

[lang=zh-TW] [multi-lang-text=重設送出]:before {
    content: "變更密碼";
}

/*重設完成*/
[lang=zh-TW] [multi-lang-text=重設完成大標]:before {
    content: "重設成功";
}

[lang=zh-TW] [multi-lang-text=重設完成子標]:before {
    content: "密碼已重新設定，請使用您最新設定的密碼，進行登入。";
}

[lang=zh-TW] [multi-lang-text=]:before {
    content: "";
}

[lang=zh-TW] [multi-lang-text=]:before {
    content: "";
}

[lang=zh-TW] [multi-lang-text=]:before {
    content: "";
}

[lang=zh-TW] [multi-lang-text=]:before {
    content: "";
}

[lang=zh-TW] [multi-lang-text=]:before {
    content: "";
}

[lang=zh-TW] [multi-lang-text=]:before {
    content: "";
}