﻿/*通用*/
[lang=en-US] [multi-lang-text=登入]:before
{
	content: "Login";
}
[lang=en-US] [multi-lang-text=送出]:before
{
	content: "Submit";
}
[lang=en-US] [multi-lang-text=處理中]:before
{
	content: "Processing...";
}
[lang=en-US] [multi-lang-text=發送失敗-連線錯誤]:before
{
	content: "Submission failed (connection error).";
}
[lang=en-US] [multi-lang-text=請輸入檢查碼]:before
{
	content: "Please enter search code";
}
[lang=en-US] [multi-lang-text=變更檢查碼]:before
{
	content: "Can't read it? Get a new one";
}
[lang=en-US] [multi-lang-text=檢查碼錯誤]:before
{
	content: "Search code error";
}
[lang=en-US] [multi-lang-text=啟動碼]:before
{
	content: "Activation code";
}
[lang=en-US] [multi-lang-text=返回登入]:before
{
	content: "Return";
}
[lang=en-US] [multi-lang-text=未知的錯誤]:before
{
	content: "Unknown error (";
}
[lang=en-US] [multi-lang-text=未知的錯誤]:after
{
	content: ").";
}
[lang=en-US] [multi-lang-text=切換語言]:before
{
	content: "Language(English)";
}
[lang=en-US] [multi-lang-text=或使用您的email]:before
{
	content: "Or use your email";
}
/*登入*/
[lang=en-US] [multi-lang-text=登入標題]:before
{
	content: "Login";
}
[lang=en-US] [multi-lang-text=忘記密碼？]:before
{
	content: "Forgot Password";
}
[lang=en-US] [multi-lang-text=以Google帳號登入]:before
{
	content: "Login with Google";
}
[lang=en-US] [multi-lang-text=以Facebook帳號登入]:before
{
	content: "Login with Facebook";
}
[lang=en-US] [multi-lang-text=記住密碼]:before
{
	content: "Remember Me";
}
[lang=en-US] [multi-lang-text=登入失敗]:before
{
	content: "Login failed (";
}
[lang=en-US] [multi-lang-text=登入失敗]:after
{
	content: ").";
}
[lang=en-US] [multi-lang-text=登入失敗-系統中無此帳號]:before
{
	content: "Login failed (account doesn't exist).";
}
[lang=en-US] [multi-lang-text=登入失敗-帳號密碼不正確]:before
{
	content: "Login failed (password doesn't match).";
}
[lang=en-US] [multi-lang-text=登入失敗-連線錯誤]:before
{
	content: "Login failed (connection error).";
}
[lang=en-US] [multi-lang-text=登入失敗-尚未升級]:before
{
	content: "Account has not been upgraded, you should use the \"Login with "; 
}
[lang=en-US] [multi-lang-text=登入失敗-尚未升級]:after
{
	content: "\"\aLogin completed, will be upgraded account after the upgrade that you create a password can log into the system from here.";
    white-space: pre-wrap;
}
[lang=en-US] [multi-lang-text=登入失敗-尚未升級V2]:before
{
	content: "Your account has not yet set a password,press Quick Login then use ";
}
[lang=en-US] [multi-lang-text=登入失敗-尚未升級V2]:after
{
	content: "to login.";
}

[lang=en-US] [multi-lang-text=快速登入標題]:after {
    content: "Quick Login";
}

[lang=en-US] [multi-lang-text=快速登入]:after {
    content: "Quick Login";
}

/*註冊/快速註冊/升級帳號*/
[lang=en-US] [multi-lang-text=升級帳戶標題]:before
{
	content: "Upgrade Account";
}
[lang=en-US] [multi-lang-text=註冊標題]:before
{
	content: "Create Account";
}
[lang=en-US] [multi-lang-text=電子郵件地址]:before
{
	content: "E-mail Address";
}
[lang=en-US] [multi-lang-text=姓氏]:before
{
	content: "Last Name";
}
[lang=en-US] [multi-lang-text=名字]:before
{
	content: "First Name";
}
[lang=en-US] [multi-lang-text=密碼]:before
{
	content: "Password";
}
[lang=en-US] [multi-lang-text=密碼確認]:before
{
	content: "Verify Password";
}
[lang=en-US] [multi-lang-text=註冊註記]:before
{
	content: "By pressing \"send\", you agree to our terms of service";
}
[lang=en-US] [multi-lang-text=註冊註記V2]:before
{
	content: "By pressing \"send\", you agree to our ";
}
[lang=en-US] [multi-lang-text=註冊註記-服務條款]:before
{
	content: "terms of service";
}
[lang=en-US] [multi-lang-text=註冊]:before
{
	content: "Register";
}
[lang=en-US] [multi-lang-text=請輸入email]:before
{
	content: "Please enter an email address.";
}
[lang=en-US] [multi-lang-text=帳號已存在]:before
{
	content: "Account already exists.";
}
[lang=en-US] [multi-lang-text=升級帳戶說明]:before
{
	content: "Your account has not yet set a password, the new account system requires you to set a password, this password will be available for immediate use when logged into the system.";
}

/*進入系統*/
[lang=en-US] [multi-lang-text=自動跳轉訊息]:before
{
	content: "The system will automatically login, if unable to login, ";
}
[lang=en-US] [multi-lang-text=自動跳轉訊息]:after
{
	content: ",";
}
[lang=en-US] [multi-lang-text=手動跳轉連結]:before
{
	content: "Please press here";
}
[lang=en-US] [multi-lang-text=離開自動跳轉]:before
{
	content: "Exit";
}
/*忘記密碼*/
[lang=en-US] [multi-lang-text=忘記密碼標題]:before
{
	content: "Forgot Password";
}
[lang=en-US] [multi-lang-text=忘記密碼說明]:before
{
	content: "Please provide the username or e-mail address you used to register for an ischool account, we will send you a password reset e-mail.";
}
[lang=en-US] [multi-lang-text=帳號不存在]:before
{
	content: "Account does not exist.";
}
/*重設密碼信寄出*/
[lang=en-US] [multi-lang-text=重設密碼信已寄出標題]:before
{
	content: "A password reset e-mail has been sent.";
}
[lang=en-US] [multi-lang-text=重設密碼信已寄出說明1]:before
{
	content: "A password reset e-mail has been sent, please check your inbox.";
}
[lang=en-US] [multi-lang-text=重設密碼信已寄出說明2]:before
{
	content: "You can enter the activation code you received in your e-mail, or open the link provided in the e-mail to reset your password.";
}
[lang=en-US] [multi-lang-text=啟動碼無效]:before
{
	content: "Invalid activation code.";
}
/*啟動碼錯誤*/
[lang=en-US] [multi-lang-text=啟動碼錯誤標題]:before
{
	content: "Activation code error.";
}
[lang=en-US] [multi-lang-text=啟動碼錯誤說明]:before
{
	content: "Activation code has expired, please make sure that the code is the code contained within your most recently received activation e-mail.";
}
/*重設密碼*/
[lang=en-US] [multi-lang-text=重設密碼標題]:before
{
	content: "Reset Password";
}
[lang=en-US] [multi-lang-text=重設密碼說明]:before
{
	content: "Please enter your new password, and keep it somewhere safe.";
}
[lang=en-US] [multi-lang-text=請輸入新密碼]:before
{
	content: "Please enter a new password";
}
[lang=en-US] [multi-lang-text=請確認新密碼]:before
{
	content: "Please verify the new password";
}
[lang=en-US] [multi-lang-text=密碼不得少於4個字元]:before
{
	content: "Password cannot be shorter than 4 characters.";
}
[lang=en-US] [multi-lang-text=確認密碼與密碼不符]:before
{
	content: "Passwords do not match.";
}
/*密碼重設完成*/
[lang=en-US] [multi-lang-text=重設完成標題]:before
{
	content: "Password reset complete";
}
[lang=en-US] [multi-lang-text=重設完成說明]:before
{
	content: "Your password has been reset, please login below.";
}
/*啟用帳號*/
[lang=en-US] [multi-lang-text=啟用帳號標題]:before
{
	content: "Activate Account";
}
[lang=en-US] [multi-lang-text=啟用帳號說明1]:before
{
	content: "Congratulations, only one step of the registration process left.";
}
[lang=en-US] [multi-lang-text=啟用帳號說明2]:before
{
	content: "We have sent an \"Account Activation E-mail\" to the following e-mail address: ";
}
[lang=en-US] [multi-lang-text=啟用帳號說明3]:before
{
	content: "Please check your inbox and open the e-mail titled \"ischool Account Activation\" and click the activation link or enter the activation code below to complete your account activation.";
}
[lang=en-US] [multi-lang-text=重新寄送啟用通知函]:before
{
	content: "Resend account activation e-mail";
}
[lang=en-US] [multi-lang-text=送出啟用通知函]:before
{
	content: "Send activation e-mail";
}
[lang=en-US] [multi-lang-text=啟用帳號]:before
{
	content: "Activate";
}
[lang=en-US] [multi-lang-text=啟動信已寄出]:before
{
	content: "Account activation e-mail sent.";
}
/*啟用帳號成功*/
[lang=en-US] [multi-lang-text=帳號啟用成功標題]:before
{
	content: "Account activation completed";
}
[lang=en-US] [multi-lang-text=帳號啟用成功說明]:before
{
	content: "Congratulations, you have completed registering your account. The system will automatically login, if unable to login, ";
}
[lang=en-US] [multi-lang-text=帳號啟用成功說明]:after
{
	content: ".";
}
/*啟用帳號失敗*/
[lang=en-US] [multi-lang-text=帳號啟用失敗標題]:before
{
	content: "Account activation failed";
}
[lang=en-US] [multi-lang-text=帳號啟用失敗說明]:before
{
	content: "Invalid activation code.";
}
/*cookie檢查錯誤*/
[lang=en-US] [multi-lang-text=Cookie錯誤標題]:before
{
	content: "Cookie無法使用";
}
[lang=en-US] [multi-lang-text=Cookie錯誤說明]:before
{
	content: "您的瀏覽器不允許使用Cookie，系統將無法使用，請您至設定中開啟允許使用Cookie，並重新整理網頁。";
}
[lang=en-US] [multi-lang-text=第三方Cookie錯誤說明]:before
{
	content: "您的瀏覽器無法正確的註冊第三方Cookie，系統將無法使用，您可以至設定中開啟允許第三方Cookie或者將https://auth.ischool.com.tw/加入例外以避免此問題，或者使用下方手動註冊按鈕嘗試解決此問題(暫時性)。";
}
[lang=en-US] [multi-lang-text=第三方Cookie錯誤解除]:before
{
	content: "手動註冊";
}
/*placeholder*/
[lang=en-US] input[multi-lang-text=電子郵件地址] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -811px;
    background-repeat: no-repeat;
}

[lang=en-US] input[multi-lang-text=密碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -861px;
    background-repeat: no-repeat;
}

[lang=en-US] input[multi-lang-text=名字] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -911px;
    background-repeat: no-repeat;
}

[lang=en-US] input[multi-lang-text=啟動碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -961px;
    background-repeat: no-repeat;
}

[lang=en-US] input[multi-lang-text=請輸入新密碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -1011px;
    background-repeat: no-repeat;
}

[lang=en-US] input[multi-lang-text=請確認新密碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -1061px;
    background-repeat: no-repeat;
}

[lang=en-US] input[multi-lang-text=電子郵件地址][msie=true]:focus {
    background-image: none;
}

[lang=en-US] input[multi-lang-text=密碼][msie=true]:focus {
    background-image: none;
}

[lang=en-US] input[multi-lang-text=名字][msie=true]:focus {
    background-image: none;
}

[lang=en-US] input[multi-lang-text=啟動碼][msie=true]:focus {
    background-image: none;
}

[lang=en-US] input[multi-lang-text=請輸入新密碼][msie=true]:focus {
    background-image: none;
}

[lang=en-US] input[multi-lang-text=請確認新密碼][msie=true]:focus {
    background-image: none;
}


[lang] input[multi-lang-text=電子郵件地址]:before {
    content: none;
}

[lang] input[multi-lang-text=密碼]:before {
    content: none;
}

[lang] input[multi-lang-text=名字]:before {
    content: none;
}

[lang] input[multi-lang-text=啟動碼]:before {
    content: none;
}

[lang] input[multi-lang-text=請輸入新密碼]:before {
    content: none;
}

[lang] input[multi-lang-text=請確認新密碼]:before {
    content: none;
}