﻿/*通用*/
[lang=zh-CN] [multi-lang-text=登入]:before
{
	content: "登录";
}
[lang=zh-CN] [multi-lang-text=送出]:before
{
	content: "发送";
}
[lang=zh-CN] [multi-lang-text=處理中]:before
{
	content: "处理中...";
}
[lang=zh-CN] [multi-lang-text=發送失敗-連線錯誤]:before
{
	content: "发送失败(连线错误)。";
}
[lang=zh-CN] [multi-lang-text=請輸入檢查碼]:before
{
	content: "请输入验证码";
}
[lang=zh-CN] [multi-lang-text=變更檢查碼]:before
{
	content: "看不懂?换一张";
}
[lang=zh-CN] [multi-lang-text=檢查碼錯誤]:before
{
	content: "验证码错误。";
}
[lang=zh-CN] [multi-lang-text=啟動碼]:before
{
	content: "启动码";
}
[lang=zh-CN] [multi-lang-text=返回登入]:before
{
	content: "返回";
}
[lang=zh-CN] [multi-lang-text=未知的錯誤]:before
{
	content: "未知的错误(";
}
[lang=zh-CN] [multi-lang-text=未知的錯誤]:after
{
	content: ")。";
}
[lang=zh-CN] [multi-lang-text=切換語言]:before
{
	content: "Language(简体中文)";
}
[lang=zh-CN] [multi-lang-text=或使用您的email]:before
{
	content: "或使用您的 email";
}
/*登入*/
[lang=zh-CN] [multi-lang-text=登入標題]:before
{
	content: "登录账号";
}
[lang=zh-CN] [multi-lang-text=忘記密碼？]:before
{
	content: "忘记密码？";
}
[lang=zh-CN] [multi-lang-text=以Google帳號登入]:before
{
	content: "以Google账号登录";
}
[lang=zh-CN] [multi-lang-text=以Facebook帳號登入]:before
{
	content: "以Facebook账号登录";
}
[lang=zh-CN] [multi-lang-text=記住密碼]:before
{
	content: "自动登录";
}
[lang=zh-CN] [multi-lang-text=登入失敗]:before
{
	content: "登录失败(";
}
[lang=zh-CN] [multi-lang-text=登入失敗]:after
{
	content: ")。";
}
[lang=zh-CN] [multi-lang-text=登入失敗-系統中無此帳號]:before
{
	content: "登录失败(系统中无此账号)。";
}
[lang=zh-CN] [multi-lang-text=登入失敗-帳號密碼不正確]:before
{
	content: "登录失败(账号或密码不正确)。";
}
[lang=zh-CN] [multi-lang-text=登入失敗-連線錯誤]:before
{
	content: "登录失败(连线错误)。";
}
[lang=zh-CN] [multi-lang-text=登入失敗-尚未升級]:before
{
	content: "账号尚未升级，请您先使用下方";
}
[lang=zh-CN] [multi-lang-text=登入失敗-尚未升級]:after
{
	content: "登录。\a登录完成后将进行账号升级，升级之后即可以您建立的密码从此处登录系统。";
    white-space: pre-wrap;
}
[lang=zh-CN] [multi-lang-text=登入失敗-尚未升級V2]:before
{
	content: "此帐号未设定密码，请使用";
}
[lang=zh-CN] [multi-lang-text=登入失敗-尚未升級V2]:after
{
	content: "登录方式登录。";
}

[lang=zh-CN] [multi-lang-text=快速登入標題]:after {
    content: "快速登录 / 注册";
}

[lang=zh-CN] [multi-lang-text=快速登入]:after {
    content: "快速登录{注册}";
}

/*注册/快速注册/升级账号*/
[lang=zh-CN] [multi-lang-text=升級帳戶標題]:before
{
	content: "升级账号";
}
[lang=zh-CN] [multi-lang-text=註冊標題]:before
{
	content: "注册账号";
}
[lang=zh-CN] [multi-lang-text=電子郵件地址]:before
{
	content: "电子邮件地址";
}
[lang=zh-CN] [multi-lang-text=姓氏]:before
{
	content: "姓";
}
[lang=zh-CN] [multi-lang-text=名字]:before
{
	content: "名";
}
[lang=zh-CN] [multi-lang-text=密碼]:before
{
	content: "密码";
}
[lang=zh-CN] [multi-lang-text=密碼確認]:before
{
	content: "密码确认";
}
[lang=zh-CN] [multi-lang-text=註冊註記]:before
{
	content: "当您点击送出，即表示您同意我们的服务条款";
}
[lang=zh-CN] [multi-lang-text=註冊註記V2]:before
{
	content: "当您点击送出，即表示您同意我们的";
}
[lang=zh-CN] [multi-lang-text=註冊註記-服務條款]:before
{
	content: "服务条款";
}
[lang=zh-CN] [multi-lang-text=註冊]:before
{
	content: "注册";
}
[lang=zh-CN] [multi-lang-text=請輸入email]:before
{
	content: "请输入email address。";
}
[lang=zh-CN] [multi-lang-text=帳號已存在]:before
{
	content: "账号已存在。";
}
[lang=zh-CN] [multi-lang-text=升級帳戶說明]:before
{
	content: "欢迎使用新版资讯系统～\a\a为了提供更优良的服务内容，需要请您填写下列资料，协助升级账号，开始体验多项崭新服务！\a\a感谢您的配合。";
    white-space: pre-wrap;
}
[lang=zh-CN] [multi-lang-text=建立QQ連結帳號說明]:before
{
	content: "您的QQ账号尚未与系统账号建立连结，请使用您的email注册新账号。 \a\a或者使用账号密码";
    white-space: pre-wrap;
}
[lang=zh-CN] [multi-lang-text=建立QQ連結帳號說明]:after
{
	content: "现有账号。\a\a连结建立之后使用QQ登录即可直接进入系统。";
    white-space: pre-wrap;
}

/*进入系统*/
[lang=zh-CN] [multi-lang-text=自動跳轉訊息]:before
{
	content: "系统将自动登录，若无法登录，";
}
[lang=zh-CN] [multi-lang-text=自動跳轉訊息]:after
{
	content: "。";
}
[lang=zh-CN] [multi-lang-text=手動跳轉連結]:before
{
	content: "请点击这里";
}
[lang=zh-CN] [multi-lang-text=離開自動跳轉]:before
{
	content: "离开";
}
/*忘记密码*/
[lang=zh-CN] [multi-lang-text=忘記密碼標題]:before
{
	content: "忘记密码";
}
[lang=zh-CN] [multi-lang-text=忘記密碼說明]:before
{
	content: "请提供当您注册ischool 账号所使用的使用者名称或电子邮件地址，我们会传送允许您重设密码的电子邮件。";
}
[lang=zh-CN] [multi-lang-text=帳號不存在]:before
{
	content: "账号不存在。";
}
/*重设密码信寄出*/
[lang=zh-CN] [multi-lang-text=重設密碼信已寄出標題]:before
{
	content: "重设密码信已寄出";
}
[lang=zh-CN] [multi-lang-text=重設密碼信已寄出說明1]:before
{
	content: "重设密码信已经寄出，请至您登录的信箱收信。";
}
[lang=zh-CN] [multi-lang-text=重設密碼信已寄出說明2]:before
{
	content: "您可以直接输入信件中的启动码，或者开启信件中的连结进入重设密码。";
}
[lang=zh-CN] [multi-lang-text=啟動碼無效]:before
{
	content: "无效的认证码。";
}
/*启动码错误*/
[lang=zh-CN] [multi-lang-text=啟動碼錯誤標題]:before
{
	content: "错误的启动码";
}
[lang=zh-CN] [multi-lang-text=啟動碼錯誤說明]:before
{
	content: "启动码已经失效，请确认您使用的是最新寄发的启动信。";
}
/*重设密码*/
[lang=zh-CN] [multi-lang-text=重設密碼標題]:before
{
	content: "重设密码";
}
[lang=zh-CN] [multi-lang-text=重設密碼說明]:before
{
	content: "请输入您的新密码，并请妥善保存。";
}
[lang=zh-CN] [multi-lang-text=請輸入新密碼]:before
{
	content: "请输入新密码";
}
[lang=zh-CN] [multi-lang-text=請確認新密碼]:before
{
	content: "请确认新密码";
}
[lang=zh-CN] [multi-lang-text=密碼不得少於4個字元]:before
{
	content: "密码不得少于4个字元。";
}
[lang=zh-CN] [multi-lang-text=確認密碼與密碼不符]:before
{
	content: "确认密码与密码不符。";
}
/*密码重设完成*/
[lang=zh-CN] [multi-lang-text=重設完成標題]:before
{
	content: "重设完成";
}
[lang=zh-CN] [multi-lang-text=重設完成說明]:before
{
	content: "密码已经重新设定，请于下方直接登录。";
}
/*启用账号*/
[lang=zh-CN] [multi-lang-text=啟用帳號標題]:before
{
	content: "启用账号";
}
[lang=zh-CN] [multi-lang-text=啟用帳號說明1]:before
{
	content: "恭喜您，注册只剩下最后一个步骤了。";
}
[lang=zh-CN] [multi-lang-text=啟用帳號說明2]:before
{
	content: "我们已将《账号启用通知函》发送到了邮箱：";
}
[lang=zh-CN] [multi-lang-text=啟用帳號說明3]:before
{
	content: "请您到该邮箱中，打开标题为《ischool账号启用通知函》的邮件，并按照邮件中的提示，点击启用账号的链接或在下方输入认证码，即可启用账号。";
}
[lang=zh-CN] [multi-lang-text=重新寄送啟用通知函]:before
{
	content: "重新发送启用通知函";
}
[lang=zh-CN] [multi-lang-text=送出啟用通知函]:before
{
	content: "送出启用通知函";
}
[lang=zh-CN] [multi-lang-text=啟用帳號]:before
{
	content: "启用";
}
[lang=zh-CN] [multi-lang-text=啟動信已寄出]:before
{
	content: "启用函已经重新发送成功。";
}
/*启用账号成功*/
[lang=zh-CN] [multi-lang-text=帳號啟用成功標題]:before
{
	content: "账号启用成功";
}
[lang=zh-CN] [multi-lang-text=帳號啟用成功說明]:before
{
	content: "恭喜您完成注册，系统将自动登录，如果无法自动登录，";
}
[lang=zh-CN] [multi-lang-text=帳號啟用成功說明]:after
{
	content: "。";
}
/*启用账号失败*/
[lang=zh-CN] [multi-lang-text=帳號啟用失敗標題]:before
{
	content: "账号启用失败";
}
[lang=zh-CN] [multi-lang-text=帳號啟用失敗說明]:before
{
	content: "无效的启动码。";
}

/*cookie檢查錯誤*/
[lang=zh-CN] [multi-lang-text=Cookie錯誤標題]:before
{
	content: "Cookie無法使用";
}
[lang=zh-CN] [multi-lang-text=Cookie錯誤說明]:before
{
	content: "您的瀏覽器不允許使用Cookie，系統將無法使用，請您至設定中開啟允許使用Cookie，並重新整理網頁。";
}
[lang=zh-CN] [multi-lang-text=第三方Cookie錯誤說明]:before
{
	content: "您的瀏覽器無法正確的註冊第三方Cookie，系統將無法使用，您可以至設定中開啟允許第三方Cookie或者將https://auth.ischool.com.tw/加入例外以避免此問題，或者使用下方手動註冊按鈕嘗試解決此問題(暫時性)。";
}
[lang=zh-CN] [multi-lang-text=第三方Cookie錯誤解除]:before
{
	content: "手動註冊";
}
/*placeholder*/
[lang=zh-CN] input[multi-lang-text=電子郵件地址] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -386px;
    background-repeat: no-repeat;
}

[lang=zh-CN] input[multi-lang-text=密碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -436px;
    background-repeat: no-repeat;
}

[lang=zh-CN] input[multi-lang-text=名字] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -486px;
    background-repeat: no-repeat;
}

[lang=zh-CN] input[multi-lang-text=啟動碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -536px;
    background-repeat: no-repeat;
}

[lang=zh-CN] input[multi-lang-text=請輸入新密碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -586px;
    background-repeat: no-repeat;
}

[lang=zh-CN] input[multi-lang-text=請確認新密碼] {
    background-image: url("images/placeholder-text.png");
    background-position: 10px -636px;
    background-repeat: no-repeat;
}

[lang=zh-CN] input[multi-lang-text=電子郵件地址][msie=true]:focus {
    background-image: none;
}

[lang=zh-CN] input[multi-lang-text=密碼][msie=true]:focus {
    background-image: none;
}

[lang=zh-CN] input[multi-lang-text=名字][msie=true]:focus {
    background-image: none;
}

[lang=zh-CN] input[multi-lang-text=啟動碼][msie=true]:focus {
    background-image: none;
}

[lang=zh-CN] input[multi-lang-text=請輸入新密碼][msie=true]:focus {
    background-image: none;
}

[lang=zh-CN] input[multi-lang-text=請確認新密碼][msie=true]:focus {
    background-image: none;
}
