/* ---------------------------------------------------
    以 Material v4.0.0-beta 為基礎，變更或新增 style
    http://daemonite.github.io/material/
----------------------------------------------------- */

body {
  /*font-size: 1rem;*/
}

a {
  color: #869923;
}

a:hover {
  color: #73831F;
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}


/* ---------------------------------------------------
    主體顏色
----------------------------------------------------- */

.text-brown {
  color: #5B483A !important;
}

a.text-brown:active,a.text-brown:focus, a.text-brown:hover {
  color: #4D3D31 !important;
}

.text-green {
  color: #869923 !important;
}

a.text-green:active,a.text-green:focus, a.text-green:hover {
  color: #73831F !important;
}

.text-blue {
  color: #007bff !important;
}

a.text-blue:active, a.text-blue:focus, a.text-blue:hover {
  color: #0062cc !important;
}

.navbar {
  box-shadow: 0 1px 6px rgba(0,0,0,.16);
}

/* ---------------------------------------------------
    navbar 設定
----------------------------------------------------- */

.navbar-light {
  background: #fff;
}


/* ---------------------------------------------------
    btn 設定
----------------------------------------------------- */

.btn {
  cursor: pointer;
  text-transform: none;
}


.btn-white {
  color: #333;
  background-color: #fff;
}
.btn-white:active, .btn-white:focus, .btn-white:hover {
  color: #333;
}
.btn-white:active, .btn-white.active {
  background-color: #f1f1f1;
}
.btn-white:disabled, .btn-white.disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}


.btn-green {
  color: #fff;
  background-color: #869923;
}
.btn-green:active, .btn-green:focus, .btn-green:hover {
  color: #fff;
}
.btn-green:active, .btn-green.active {
  background-color: #73831F;
}
.btn-green:disabled, .btn-green.disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.btn-google {
  color: #fff;
  background-color: #DC4E41;
}
.btn-google:active, .btn-google:focus, .btn-google:hover {
  color: #fff;
}
.btn-google:active, .btn-google.active {
  background-color: #CC4A3E;
}
.btn-google:disabled, .btn-google.disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.btn-facebook {
  color: #fff;
  background-color: #01579B;
}
.btn-facebook:active, .btn-facebook:focus, .btn-facebook:hover {
  color: #fff;
}
.btn-facebook:active, .btn-facebook.active {
  background-color: #014F8D;
}
.btn-facebook:disabled, .btn-facebook.disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.btn-microsoft {
  color: #fff;
  background-color: #0288D1;
}
.btn-microsoft:active, .btn-microsoft:focus, .btn-microsoft:hover {
  color: #fff;
}
.btn-microsoft:active, .btn-microsoft.active {
  background-color: #017DC1;
}
.btn-microsoft:disabled, .btn-microsoft.disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.btn-yahoo {
  color: #fff;
  background-color: #512DA8;
}
.btn-yahoo:active, .btn-yahoo:focus, .btn-yahoo:hover {
  color: #fff;
}
.btn-yahoo:active, .btn-yahoo.active {
  background-color: #492995;
}
.btn-yahoo:disabled, .btn-yahoo.disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.75rem 1rem;
  font-size: initial;
  line-height: normal;
  border-radius: 0.1rem;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #869923;
}


/* ---------------------------------------------------
    水平垂直置中
    Bootstrap v4.0.0-beta 四個 class 組成
    d-flex flex-column justify-content-center align-items-center
----------------------------------------------------- */

.flex-justify-align-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}


/* ---------------------------------------------------
    form, input
----------------------------------------------------- */

.form-control:focus,
.custom-select:focus {
  border-color: #869923;
  -webkit-box-shadow: inset 0 -2px 0 -1px #869923;
          box-shadow: inset 0 -2px 0 -1px #869923;
}
.custom-control-input:checked ~ .custom-control-indicator {
  color: #869923;
}

.form-control {
  font-family: "FontAwesome"
}


/* ---------------------------------------------------
    input error
----------------------------------------------------- */

.invalid-feedback {
  margin-top: -20px;
}


/* ---------------------------------------------------
    material Modal
----------------------------------------------------- */

.modal-header {
  color: #5B483A;
}

/* ---------------------------------------------------
    table
----------------------------------------------------- */
.table tbody td, .table tbody th {
  vertical-align: middle;
}

/* ---------------------------------------------------
    media
----------------------------------------------------- */
@media (max-width: 575px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 767px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .table-responsive-md thead, .table-responsive-md tbody {

  }
}

@media (max-width: 991px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 1199px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}