/* ---------------------------------------------------
    Range
----------------------------------------------------- */

.set-content {
	padding: 1rem;
}

.set-content h1 {
	font-size: 1.25rem;
}


/* ---------------------------------------------------
    Profile
----------------------------------------------------- */

#toProfile .upload-img {
	position: relative;
	width: 100%;
    padding-top: 100%;
	border: 1px solid #dcdcdc;
    border-radius: 2px;
}

#toProfile .upload-img > div {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#toProfile .upload-img i {
	font-size: 3rem;
}

#toProfile .upload-img img {
	cursor: pointer;
	width: 100%;
	border-radius: 2px;
}

#toProfile .upload-img.uploaded::before {
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: calc(50% - 18px);
    left: calc(50% - 59px);
	content: '重新選擇圖片';
	border: 1px solid rgba(255,255,255,.8);
    border-radius: 3px;
    padding: 8px 16px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* ---------------------------------------------------
    Profile Media
----------------------------------------------------- */

@media (max-width: 959px) and (min-width: 414px){
	#toProfile .upload-img {
		width: 50%;
	    padding-top: 50%;
	}
}

/* ---------------------------------------------------
    Password
----------------------------------------------------- */

#toPassword img {
	width: 60%;
}

/* ---------------------------------------------------
    Child
----------------------------------------------------- */

#toChild .card {
	width: calc(33.33% - 20px);
    min-width:230px;
    margin-bottom: 16px;
    margin-right: 20px;
}

#toChild .add-child {
	cursor: pointer;
}

#toChild .add-child:hover {
	background: #eee;
}

.align-self-flex-end {
	align-self: flex-end;
}

/* ---------------------------------------------------
    Child Media
----------------------------------------------------- */
@media (min-width: 1280px) {
	#toChild .card {
		width: calc(25% - 20px);
	}
}

@media (max-width: 768px) {
	#toChild .card {
		width: calc(50% - 20px);
	}
}

@media (max-width: 576px) {
	#toChild .card {
		width: 100%;
		margin-right: 0;
	}
}


/* ---------------------------------------------------
    LinkSchool
----------------------------------------------------- */

#toLinkSchool .alert {
	font-size: 1rem;
}

