.dropdown-menu-right {
    right: 0;
    left: auto;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    border-right: 1px solid #e6e6e6;
    background: #fafafa;
    padding-top: 58px;
    font-size: .95rem;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    position: fixed;
    top: 0;
    width: 249px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.16);
    display: block;
    margin-bottom: .5rem;
    padding: 0.625rem 1rem;
}

#sidebar .sidebar-header a {
    display: inline-flex;
    align-items: center;
    color: #5B483A;
    width: 100%
}

#sidebar .sidebar-header a img {
    height: 24px;
    margin-right: 8px;
}

#sidebar .list-nav {
    flex: 1;
}


#sidebar .list-nav .scope {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e6e6e6;
}

#sidebar .list-nav .scope h3 {
    font-size: 0.85rem;
    color: rgba(0,0,0,.54);
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 0 1rem;
}

#sidebar .list-nav .scope a, #sidebar .official a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0,0,0,.87);
    padding: 0.75rem 1rem;
    background: transparent;
}

#sidebar .list-nav .scope a:hover, #sidebar .official a:hover {
    background: rgba(0,0,0,.06);
    text-decoration: none;
}

#sidebar .list-nav .scope a.active i {
    color: #869923;
}

#sidebar .list-nav .scope a i, #sidebar .official a i, .dropdown-item i {
    width: 24px;
    height: 24px;
    font-size: 18px;
    text-align: center;
    padding: 4px;
    margin-right: 16px;
    color: rgba(0,0,0,.54);
}

#sidebar .official {
    padding: 0.5rem 0;
    font-size: .95rem;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    padding-top: 56px;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}

#content .navbar-toggler {
    position: absolute;
    z-index: 1;
}

#content .dropdown {
    position: absolute;
    right: 16px;
}

#content .navbar-centered {
    position: absolute;
    margin: 0;
    width: calc(100% - 24px);
}


/* ---------------------------------------------------
    GADGET ITEM STYLE
----------------------------------------------------- */

.gadget_item {
    position:relative;
    width: calc(16% - 20px);
    min-width:120px;
    height:140px;
    text-align: -webkit-center;
    margin-bottom: 16px;
    margin-right: 20px;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #fafafa;
    border: 1px solid #eee;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.gadget_item a {
    color: #828282;
}

.gadget_item:hover {
    box-shadow: inset 0 0 1px #eee;
    background:#f1f1f1;
}

.gadget_item_icon {
    width:100px;
    height:100px;
    margin:5px;
}

.gadget_item_text {
    text-align:center;
    margin:5px;
    margin-bottom: 10px;
    text-overflow:ellipsis;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
}

.gadget_cue {
    position:absolute;
    top:0;
    left:0;
    padding:0 8px;
    background:#b94a48;
    color:#fff;
    font-size:10px;
}

.gadget_reload {
    position:absolute;  
    top:0;
    right:0;
    background:#fff;
}

.gadget_reload i {
    padding:2px 5px;
}


/* ---------------------------------------------------
    BOTTOM INFO
----------------------------------------------------- */

.bottom-info {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    margin-bottom: 0;
}

.bottom-info .close {
    position: absolute;
    top: -35px;
    right: 0;
    background: #757575;
    border-radius: 3px 0 0;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    font-size: 16px;
    padding: 8px 1rem;
    color: #fff;
}

.bottom-info img {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.qr-link img {
    width: 100%;
}

.qr-link a[class*="btn-outline"] {
    border: 1px solid;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 1025px) {
    #content {
        width: calc(100% - 250px);
    }
    #content .fixed-top {
        left: 250px;
    }
    .d-1025-none {
        display: none !important;
    }
    .modal-dialog {
        margin-left: calc(250px + 1.5rem);
    }
}

@media (max-width: 1024px) {
    #sidebar {
        left: -250px;
    }
    #sidebar.active {
        left: 0;
    }
    #dismiss {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #fafafa;
        color: rgba(0,0,0,.87);
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    #dismiss:hover {
        background: rgba(0,0,0,.06);
        color: #869923;
    }
}

@media (max-width: 1199px) {
    .gadget_item {
        width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #content .dropdown {
        display: none;
    }
    .gadget_item {
        width: calc(33% - 20px);
    }
}

@media (max-width: 576px) {
    .gadget_item {
        width: calc(50% - 20px);
    }
}