<div class="wrapper">
  <div id="sidebar">
    <div class="d-flex flex-column">
      <div class="sidebar-header">
        <a class="navbar-brand" href="./temp_1campus.web.html">
          <img src="./assets/img/logo.png" alt="1Campus">1Campus</a>

        <div id="dismiss" class="d-1025-none">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="list-nav">
        <div class="scope">
          <a href="./temp_1campus.web.html">
            <i class="fa fa-chevron-left"></i>返回</a>
        </div>
        <div class="scope">
          <h3 class="subtitle">網域</h3>
          <a class="active" href="">
            <i class="fa fa-bookmark"></i>ischool.com.tw</a>
        </div>
        <div class="scope d-sm-block d-md-none">
          <h3 class="subtitle">個人</h3>
          <a href="./temp_profile.html">
            <i class="fa fa-cog"></i>設定</a>
          <a href="./temp_domain.html">
            <i class="fa fa-server"></i>管理網域</a>
          <a href="#">
            <i class="fa fa-google"></i>同 Google 一併登出</a>
          <a href="#">
            <i class="fa fa-sign-out"></i>登出</a>
        </div>
      </div>
      <div class="official">
        <a href="https://ischool.zendesk.com/hc/zh-tw" target="_blank">
          <i class="fa fa-life-ring"></i>客戶服務網</a>
        <a href="http://www.ischool.com.tw/terms.html#service" target="_blank">
          <i class="fa fa-anchor"></i>服務條款</a>
        <a href="http://www.ischool.com.tw/terms.html#privacy" target="_blank">
          <i class="fa fa-lock"></i>隱私權政策</a>
        <a href="http://www.ischool.com.tw/terms.html#copyright" target="_blank">
          <i class="fa fa-copyright"></i>著作權政策</a>
      </div>
    </div>
  </div>
  <main id="content">
    <nav class="navbar navbar-light fixed-top">
      <button type="button" id="sidebarCollapse" class="navbar-toggler d-1025-none">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-brand navbar-centered d-flex justify-content-center" href=" # ">管理網域</span>

                <div class="dropdown d-none d-md-block ">
                  <a class="nav-link dropdown-toggle text-dark " href="# " data-toggle="dropdown " aria-haspopup="true" aria-expanded="false ">
                    測試員，你好！
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="./temp_profile.html">
          <i class="fa fa-fw fa-cog"></i>設定</a>
        <a class="dropdown-item" href="./temp_domain.html">
          <i class="fa fa-fw fa-server"></i>管理網域</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-fw fa-google"></i>同 Google 一併登出</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-fw fa-sign-out text-primary"></i>登出</a>
</div>
</div>
</nav>

<div class="inside_content m-3">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb d-flex justify-content-between">
      <li class="breadcrumb-item active" aria-current="page">澔學學習股份有限公司(ischool.com.tw)</li>
      <li class="">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addDomain">
          <i class="fa fa-fw fa-plus"></i>新增帳號</button>
      </li>
    </ol>
  </nav>

  <div class="row mb-3">
    <div class="form-inline col-md-6">
      每頁顯示
      <select class="custom-select mx-2 px-3">
        <option value="15" selected>15</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="200">200</option>
      </select>
      筆資料
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="&#xF002; 搜尋">
    </div>
  </div>

  <table class="table table-bordered table-striped table-responsive-sm">
    <thead class="text-center">
      <tr>
        <th>帳號</th>
        <th>姓氏</th>
        <th>名字</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>chen01@ischool.com.tw</td>
        <td class="text-center">陳</td>
        <td class="text-center">一雯</td>
        <td class="text-center">
          <button type="button" class="btn btn-light mr-sm-3">刪除</button>
          <button type="button" class="btn btn-green" data-toggle="modal" data-target="#editDomain">編輯</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav class="d-flex flex-column flex-md-row justify-content-md-between align-items-center bg-light pl-2 pt-3 pt-md-0" aria-label="Page navigation example">
    第 31 至第 45 筆資料(共 139 筆)
    <ul class="pagination justify-content-end mb-0">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">上一頁</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">下一頁</a>
      </li>
    </ul>
  </nav>
</div>

<div class="modal fade" id="addDomain" tabindex="-1" role="dialog" aria-labelledby="addDomainLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDomainLabel">新增Domain帳號</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="formDomainUserID" class="col-form-label">電子郵件地址</label>
          <input type="text" class="form-control" placeholder="User ID" id="formDomainUserID">
          <small class="form-text text-muted text-right">@ischool.com.tw</small>
        </div>
        <div class="form-group">
          <label for="formDomainLastName" class="col-form-label">姓氏</label>
          <input type="text" class="form-control" id="formDomainLastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="formDomainFirstName" class="col-form-label">名字</label>
          <input type="text" class="form-control" id="formDomainFirstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="formDomainPassword" class="col-form-label">密碼</label>
          <input type="password" class="form-control" id="formDomainPassword" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="formDomainConfirmPassword" class="col-form-label">確認密碼</label>
          <input type="password" class="form-control" id="formDomainConfirmPassword" placeholder="Confirm Password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-info">儲存</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editDomain" tabindex="-1" role="dialog" aria-labelledby="editDomainLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDomainLabel">編輯Domain帳號</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="formDomainUserID" class="col-form-label">電子郵件地址</label>
          <input type="text" class="form-control" placeholder="User ID" id="formDomainUserID1" value="abcdef" readonly>
          <small class="form-text text-muted text-right">@ischool.com.tw</small>
        </div>
        <div class="form-group">
          <label for="formDomainLastName" class="col-form-label">姓氏</label>
          <input type="text" class="form-control" id="formDomainLastName1" placeholder="Last Name" value="陳">
        </div>
        <div class="form-group">
          <label for="formDomainFirstName" class="col-form-label">名字</label>
          <input type="text" class="form-control" id="formDomainFirstName1" placeholder="First Name" value="一雯" </div>
          <div class="form-group">
            <label for="formDomainPassword" class="col-form-label">密碼</label>
            <input type="password" class="form-control" id="formDomainPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="formDomainConfirmPassword" class="col-form-label">確認密碼</label>
            <input type="password" class="form-control" id="formDomainConfirmPassword1" placeholder="Confirm Password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-info">儲存</button>
        </div>
      </div>
    </div>
  </div>


  </main>
</div>

<div class="overlay">
  <div>