<div class="wrapper">
  <div id="sidebar">
    <div class="d-flex flex-column">
      <div class="sidebar-header">
        <a class="navbar-brand" href="./temp_1campus.web.html">
          <img src="./assets/img/logo.png" alt="1Campus">1Campus</a>

        <div id="dismiss" class="d-1025-none">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="list-nav">
        <div class="scope">
          <a href="#" data-toggle="modal" data-target="#addSchool">
            <i class="fa fa-plus"></i>加入學校</a>
        </div>
        <div class="scope">
          <h3 class="subtitle">訪客</h3>
          <a href="">
            <i class="fa fa-bookmark"></i>台中市立大里高中</a>
        </div>
        <div class="scope">
          <h3 class="subtitle">家長</h3>
          <a class="active" href="">
            <i class="fa fa-bookmark"></i>澔學測試國中</a>
          <a href="">
            <i class="fa fa-bookmark"></i>澔學測試高中</a>
        </div>
        <div class="scope">
          <h3 class="subtitle">教師</h3>
          <a href="">
            <i class="fa fa-bookmark"></i>台大EMBA</a>
        </div>
        <div class="scope">
          <h3 class="subtitle">管理員</h3>
          <a href="">
            <i class="fa fa-bookmark"></i>澔學展示學院</a>
        </div>
        <div class="scope d-sm-block d-md-none">
          <h3 class="subtitle">個人</h3>
          <a href="./temp_profile.html">
            <i class="fa fa-cog"></i>設定</a>
          <a href="./temp_domain.html">
            <i class="fa fa-server"></i>管理網域</a>
          <a href="#">
            <i class="fa fa-google"></i>同 Google 一併登出</a>
          <a href="#">
            <i class="fa fa-sign-out"></i>登出</a>
        </div>
      </div>
      <div class="official">
        <a href="https://ischool.zendesk.com/hc/zh-tw" target="_blank">
          <i class="fa fa-life-ring"></i>客戶服務網</a>
        <a href="http://www.ischool.com.tw/terms.html#service" target="_blank">
          <i class="fa fa-anchor"></i>服務條款</a>
        <a href="http://www.ischool.com.tw/terms.html#privacy" target="_blank">
          <i class="fa fa-lock"></i>隱私權政策</a>
        <a href="http://www.ischool.com.tw/terms.html#copyright" target="_blank">
          <i class="fa fa-copyright"></i>著作權政策</a>
      </div>
    </div>

    <div class="modal fade" id="addSchool" tabindex="-1" role="dialog" aria-labelledby="addSchoolLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addSchoolLabel">加入學校</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="formAddSchool" class="col-form-label text-dark">把學校加進來 - 準備接收第一手資訊</label>
              <input type="text" class="form-control" id="formAddSchool" placeholder="Search">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-info">加入</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main id="content">
    <nav class="navbar navbar-light fixed-top">
      <button type="button" id="sidebarCollapse" class="navbar-toggler d-1025-none">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-brand navbar-centered d-flex justify-content-center" href="#">澔學測試國中</span>

                <div class="dropdown d-none d-md-block ">
                  <a class="nav-link dropdown-toggle text-dark " href="# " data-toggle="dropdown " aria-haspopup="true" aria-expanded="false ">
                    測試員，你好！
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="./temp_profile.html">
          <i class="fa fa-fw fa-cog"></i>設定</a>
        <a class="dropdown-item" href="./temp_domain.html">
          <i class="fa fa-fw fa-server"></i>管理網域</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <i class="fa fa-fw fa-google"></i>同 Google 一併登出</a>
        <a class="dropdown-item" href="#">
          <i class="fa fa-fw fa-sign-out"></i>登出</a>
</div>
</div>
</nav>

<div class="inside_content my-3 ml-3 d-flex flex-wrap">
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p1.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">課程歷年成績查詢</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p2.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">服務學習</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p3.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">缺曠紀錄查詢</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p4.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">通訊錄</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p5.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">獎懲紀錄查詢</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p6.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">通訊錄</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p4.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">通訊錄</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div class="gadget_item">
    <div class="gadget_item_icon" style="background:url(./assets/img/p5.png);"></div>
    <div class="gadget_cue">!</div>
    <div class="gadget_item_text">獎懲紀錄查詢</div>
    <div class="gadget_reload">
      <i class="fa fa-refresh"></i>
    </div>
  </div>
</div>
<div class="alert alert-dark alert-dismissible fade show bottom-info d-none d-md-flex align-items-center" role="alert">
  <div class="mr-auto">
    <span class="badge badge-primary py-1 px-2 mb-2">全新 1Campus APP 上架囉！</span>
    <span class="d-block pr-2">讓你一手掌握各方資訊，快來取得更快更穩定的 1Campus APP 吧！</span>
  </div>
  <div class="d-flex">
    <a class="mr-3" href="#" data-toggle="modal" data-target="#qrIOS">
      <img src="./assets/img/btn_appstore.png">
    </a>
    <a href="#" data-toggle="modal" data-target="#qrAndroid">
      <img src="./assets/img/btn_googleplay.png">
    </a>
  </div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span> 關閉
  </button>
</div>

<div class="modal fade qr-link" id="qrIOS" tabindex="-1" role="dialog" aria-labelledby="qrIOSLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="qrIOSLabel">APP STORE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="./assets/img/qr_ios.svg" class="mb-4">
        <a href="https://itunes.apple.com/app/1campus/id1273657906" target="_blank" class="btn btn-outline-success btn-block">前往下載</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade qr-link" id="qrAndroid" tabindex="-1" role="dialog" aria-labelledby="qrAndroidLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="qrAndroidLabel">Google play</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="./assets/img/qr_android.svg" class="mb-4">
        <a href="https://play.google.com/store/apps/details?id=tw.com.ischool.onecampusmobile" target="_blank" class="btn btn-outline-success btn-block">前往下載</a>
      </div>
    </div>
  </div>
</div>
</main>
</div>

<div class="overlay">
  <div>

    <script type="text/javascript">
    </script>